body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
    background-color: yellow;
}

header > div {
    display: flex;
}

p{
    margin-left: 0.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

header > div:nth-child(1){flex-grow: 1;}
header > div:nth-child(2){flex-grow: 5;}
